<%- include("./includes/head.ejs") %> <%- include("./includes/nav.ejs") %>
<div class="card w-50 margin-auto">
  <h1 class="text-center">Yes You are Logged in.</h1>
</div>
<%-include("./includes/end.ejs") %>
