<%- include("./includes/head.ejs") %>
<div class="server-error-page">
  <div class="card w-50 margin-auto">
    <h1 class="text-center">500</h1>
    <p class="text-center">Server Error Occurred.</p>
  </div>
</div>

<%-include("./includes/end.ejs") %>
